<nav class="shadow">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex space-x-4 h-16">
          <a routerLink="/examples/string" routerLinkActive="active" class="menu-item">String</a>
          <a routerLink="/examples/date" routerLinkActive="active" class="menu-item">Date</a>
          <a routerLink="/examples/number" routerLinkActive="active" class="menu-item">Number</a>
          <a routerLink="/examples/boolean" routerLinkActive="active" class="menu-item">Boolean</a>
          <a routerLink="/examples/object" routerLinkActive="active" class="menu-item">Object</a>
          <a routerLink="/examples/file" routerLinkActive="active" class="menu-item">File</a>
        </div>
      </div>
  </div>
</nav>
