<app-navbar></app-navbar>

<div class="m-10">

  <h1 class="mt-10">String example form</h1>

  <div class="grid grid-cols-2 gap-4">
    <div>
      <form #checkoutForm="ngForm" (ngSubmit)="submitForm()" class="form" mzForm [schema]="schema" [ngFormOptions]="{updateOn: 'blur'}">
        <mz-field label="First name">
          <input type="text" [(ngModel)]="model.firstName" name="firstName" class="form-input"/>
        </mz-field>

        <mz-field label="Required string">
          <input type="text" [(ngModel)]="model.requiredString" name="requiredString" class="form-input" />
        </mz-field>

        <mz-field label="Email">
          <input type="text" [(ngModel)]="model.email" name="email" class="form-input" />
        </mz-field>

         <mz-field label="Phone number">
          <input type="text" [(ngModel)]="model.phoneNumber" name="phoneNumber" class="form-input" [mzMask]="'phone'"/>
        </mz-field>

        <mz-field label="Code">
          <input type="text" [(ngModel)]="model.code" name="code" class="form-input" />
        </mz-field>

        <button type="submit">Verify</button>

        <div class="mt-4">
          <button type="reset" class="mr-4">Reset</button>
          <button type="button" (click)="usePresetValues()">Use preset values</button>
        </div>
      </form>
    </div>

    <div class="text-slate-600">
      <div class="p-8 my-1 bg-slate-50">
        <span>// model</span>
        <pre>{{model | json}}</pre>
      </div>
      <div class="p-8 my-1 bg-slate-50">
        <span>// checkoutForm.value</span>
        <pre>{{checkoutForm.value | json}}</pre>
        <pre>{{checkoutForm.errors | json}}</pre>
      </div>
    </div>

  </div>
</div>
