<app-navbar></app-navbar>

<div class="m-10">
    <h1>Object example form</h1>

    <div class="grid grid-cols-2 gap-4">
        <div>
            <form #form="ngForm" (ngSubmit)="submitForm()" class="form" mzForm [schema]="schema">
                <mz-field label="Order number">
                    <input type="text" [(ngModel)]="model.orderNumber" name="orderNumber" class="form-input" (ngModelChange)="onOrderNumberChange($event)" />
                </mz-field>

                <mz-field label="Address 1">
                    <input type="text" [(ngModel)]="model.address!.street1" name="address.street1" maxlength="100" class="form-input" />
                </mz-field>

                <mz-field label="Address 2">
                    <input type="text" [(ngModel)]="model.address!.street2" name="street2" maxlength="100" class="form-input" />
                </mz-field>

                <mz-field label="City">
                    <input type="text" [(ngModel)]="model.address!.city" name="address.city" maxlength="100" class="form-input" />
                </mz-field>

                <mz-field label="State">
                    <input type="text" [(ngModel)]="model.address!.state" name="state" maxlength="100" class="form-input" />
                </mz-field>

                <mz-field label="Zip code">
                    <input type="text" [(ngModel)]="model.address!.zipCode" name="zipCode" maxlength="100" class="form-input" />
                </mz-field>

                <fieldset ngModelGroup="mailingAddress">
                    <legend>Mailing address</legend>
                    <app-mailing-address [model]="model.mailingAddress!"></app-mailing-address>
                </fieldset>

                <fieldset ngModelGroup="giftOptions">
                    <legend>Gift options</legend>

                    <mz-field label="Gift option" [checkbox]="true">
                        <input type="checkbox" [(ngModel)]="model.giftOptions!.isGift" name="isGift" class="form-input" />
                    </mz-field>

                    @if(model.giftOptions?.isGift) {
                    <mz-field label="Gift message">
                        <input type="text" [(ngModel)]="model.giftOptions!.giftMessage" name="giftMessage" maxlength="100" class="form-input" />
                    </mz-field>
                    }
                </fieldset>

                <button type="submit">Submit</button>

                <div class="mt-4">
                    <button type="reset" class="mr-4">Reset</button>
                    <button type="button" (click)="usePresetValues()">Use preset values</button>
                </div>
            </form>
        </div>

        <div class="text-slate-600">
            <div class="p-8 my-1 bg-slate-50">
                <span>// model</span>
                <pre>{{ model | json }}</pre>
            </div>
            <div class="p-8 my-1 bg-slate-50">
                <span>// form.value</span>
                <pre>{{ form.value | json }}</pre>
            </div>
            <div class="p-8 my-1 bg-slate-50">
                <span>// validation result</span>
                <pre>{{ result | json }}</pre>
            </div>
        </div>
    </div>
</div>
