<app-navbar></app-navbar>

<div class="m-10">
    <form #dynamicForm="ngForm" mzForm [schema]="schema" (ngSubmit)="submitForm()">
        @for(field of fields; track $index) {

            @if(field.type === 'boolean') {
                <mz-field [label]="field.name" controlType="checkbox">
                    <input type="checkbox" [(ngModel)]="model[field.name]" name="{{ field.name }}" />
                </mz-field>
            } @else {
                <mz-field [label]="field.name" controlType="checkbox">
                    <input type="text" [(ngModel)]="model[field.name]" name="{{ field.name }}" />
                </mz-field>
            }

        }

        <button type="submit">Submit</button>
    </form>
</div>

<div class="grid grid-cols-2">
    <div>
        model:
        <pre>
            {{ model | json }}
        </pre>
    </div>
    <div>
        form:
        <pre>
            {{ dynamicForm.value | json }}
        </pre>
        <pre>
            status:
            {{ dynamicForm.status }}
        </pre>
        <pre>
            errors:
            {{ dynamicForm.errors | json }}
        </pre>
    </div>
</div>
