<h1>Form</h1>

<div class="grid grid-cols-2 gap-4">
  <div>
    <form #checkoutForm="ngForm" (ngSubmit)="checkout()" class="form">
      <label class="field">
        <span class="field-label">Instructions</span>
        <input type="text" [(ngModel)]="model.instructions" name="instructions" #instructionsField="ngModel"
          class="field-control" />
        <mz-field-errors [field]="instructionsField" *ngIf="instructionsField.touched && instructionsField.invalid">
        </mz-field-errors>
      </label>
      <label class="field">
        <span class="field-label">Date of birth</span>
        <input type="text" [(ngModel)]="model.date" name="date" #dateField="ngModel" [imask]="{ mask: 'MM/dd/yyyy' }"
          [unmask]="'typed'" class="field-control" />
        <mz-field-errors [field]="dateField" *ngIf="dateField.touched && dateField.invalid"></mz-field-errors>
        <div>
          {{model.date}}
        </div>
      </label>
      <label class="field">
        <span class="field-label">Total cost</span>
        <input type="text" [(ngModel)]="model.totalCost" name="totalCost" #totalCost="ngModel"
          [imask]="{ mask: 'currency' }" [unmask]="true" class="field-control" />
        <mz-field-errors [field]="totalCost" *ngIf="totalCost.touched && totalCost.invalid"></mz-field-errors>
      </label>

      <fieldset ngModelGroup="address">
        <legend>Mailing address</legend>
        <app-mailing-address [model]="model.address!"></app-mailing-address>
      </fieldset>


      <button type="submit">Check out</button>

      <div class="mt-4">
        <button type="reset" class="mr-4">Reset</button>
        <button type="button" (click)="usePresetValues()">Use preset values</button>
      </div>
    </form>
  </div>
  <div class="text-slate-600">
    <div class="p-8 my-1 bg-slate-50">
      <span>// model</span>
      <pre>{{model | json}}</pre>
    </div>
    <div class="p-8 my-1 bg-slate-50">
      <span>// checkoutForm.value</span>
      <pre>{{checkoutForm.value | json}}</pre>
    </div>
  </div>
</div>
